

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  input{
    width: 50%;
    height: 40px;

  }

  textarea{
    width: 50%;
    height: 80px;
  }

  button{
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(4, 72, 4);
    font-size: 22px;
    color: white;

  }

  button:hover {
    background-color: rgb(37, 166, 37);
  }
}